@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #242424;*/

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    min-width: 100vw;
    min-height: 100vh;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.w-half {
    width: 50%;
}

.h-half {
    height: 50%;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.dark-mode-button {
    width: 80%;
    height: 80%;
}

.user-icon {
    width: 40px;
    height: 40px;
}

.dark-mode-button {
    width: 30px;
    height: 30px;
}

.notification-button {
    width: 30px;
    height: 30px;
}

.is-hidden {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}